@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@variant dark (&:where(.dark *));

@theme {
}

body {
  font-feature-settings:
    'rlig' 1,
    'calt' 1;
}

.home-content p {
  margin-top: 1.5em;
  line-height: 1.75em;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .home-content .hide-medium {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .home-content p {
    font-size: 0.9rem;
  }

  .home-content .hide-small {
    display: none;
  }
}

@import "react-image-gallery/styles/css/image-gallery.css";

img-comparison-slider {
  --divider-width: 2px;
  --divider-color: black;
  --default-handle-color: black;
  --default-handle-width: 60px;
  --default-handle-opacity: 0.5;
  --divider-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
  --default-handle-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
